@charset "UTF-8";
@import "./vendor/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,700;1,400&family=Italianno&family=Maitree:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-wrap: wrap;
}

aside {
  width: 25%;
}

main {
  width: 100%;
}

/* Opacité 12% */
#entetesite {
  display: flex;
  padding: 20px 20px 20px 80px;
  width: 100%;
  max-width: 100%;
  position: relative;
}
#entetesite .kingsman {
  width: 60%;
  height: 100%;
  padding: 20px;
  opacity: 0.6;
  margin-right: -20%;
}
#entetesite .contenupresentation {
  background-color: #8A9187;
  opacity: 95%;
  width: 100%;
  min-height: 60px;
  max-height: 50%;
  margin: 80px 80px 80px 0px;
}

#presentationboutiqueaccueil {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
#presentationboutiqueaccueil h1 {
  font-size: 70px;
  font-weight: 200;
  text-align: center;
  font-family: "Italianno";
  color: #EFD9BE;
}
#presentationboutiqueaccueil p {
  font-size: 16px;
  color: white;
  font-family: "Maitree";
  text-align: center;
}

@media screen and (max-width: 390px) {
  #entetesite {
    padding: 0px;
  }
  #entetesite .kingsman {
    display: none;
  }
  #entetesite .contenupresentation {
    margin: 0px;
  }
  #entetesite .contenupresentation h1 {
    font-size: 40px;
  }
  #entetesite .contenupresentation p {
    padding: 10px;
  }
}
section {
  width: 90%;
}

#conteneurphoto {
  display: flex;
  flex-direction: column;
  width: 22%;
  font-size: 14px;
}
#conteneurphoto #decouvrirprix, #conteneurphoto #decouvrirprix1, #conteneurphoto #decouvrirprix2, #conteneurphoto #decouvrirprix3, #conteneurphoto #decouvrirprix4, #conteneurphoto #decouvrirprix5, #conteneurphoto #decouvrirprix6, #conteneurphoto #decouvrirprix7, #conteneurphoto #decouvrirprix8, #conteneurphoto #decouvrirprix9, #conteneurphoto #decouvrirprix10, #conteneurphoto #decouvrirprix11 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 8px;
  background-color: #A57E50;
  color: white;
}

#grilleaccueil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin: 30px 20px 20px 90px;
}

@media screen and (max-width: 800px) {
  #conteneurphoto {
    width: 60%;
    font-size: 12px;
  }
  #conteneurphoto #decouvrirprix, #conteneurphoto #decouvrirprix1, #conteneurphoto #decouvrirprix2, #conteneurphoto #decouvrirprix3, #conteneurphoto #decouvrirprix4, #conteneurphoto #decouvrirprix5, #conteneurphoto #decouvrirprix6, #conteneurphoto #decouvrirprix7, #conteneurphoto #decouvrirprix8, #conteneurphoto #decouvrirprix9, #conteneurphoto #decouvrirprix10, #conteneurphoto #decouvrirprix11 {
    padding: 8px;
  }
  #grilleaccueil {
    margin: 22%;
    gap: 70px;
  }
}
/*.grille {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  }

  .image_big {
    grid-column: 3 / 4;
    grid-row: 3;
  }
  .image_small_1 {
    grid-column: 1 / 3;
    grid-row: 4;
  }

  .image_small_2 {
    grid-column: 1 / 3;
    grid-row: 4;
  }
  .image_small_3 {
    grid-column: 1 / 3;
    grid-row: 4;
  }
  .six {
    grid-column: 1 / 3;
    grid-row: 4;
  }
 */
.grille {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 40px;
  margin-left: 100px;
}
.grille img {
  width: 500px;
}
.grille .sous_grille {
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
}
.grille .sous_grille img {
  width: 160px;
}

#contenairpresentationboutique {
  width: 100%;
  opacity: 0.9;
  background-image: url("/images/kingsman.jpg");
  background-size: 100%;
  background-clip: content-box;
  position: absolute;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#photoshorizontales {
  display: flex;
  width: 90%;
  gap: 0px;
  position: relative;
  margin-top: 30px;
  margin-left: 9%;
  margin-bottom: 30px;
  z-index: 1;
  opacity: 1;
}
#photoshorizontales img {
  max-width: 33%;
  opacity: 1;
}

#textedelaboutique {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  background-color: rgba(138, 145, 135, 0.8);
  padding: 2%;
  margin-left: 25%;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}
#textedelaboutique h2 {
  color: #EFD9BE;
  opacity: 1;
  font-family: "Italianno";
  font-size: 30px;
}
#textedelaboutique .detailsboutique {
  font-family: "Maitree";
  font-size: 12px;
  margin-bottom: 20px;
  color: white;
}
#textedelaboutique a {
  font-family: "Maitree";
  font-size: 12px;
  border-top: 1px #EFD9BE solid;
  border-bottom: 1px #EFD9BE solid;
  padding: 7px 35px 7px 35px;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
}
#textedelaboutique a:hover {
  border-top: 2px #EFD9BE solid;
  border-bottom: 2px #EFD9BE solid;
}

@media screen and (max-width: 390px) {
  #contenairpresentationboutique {
    flex-direction: column-reverse;
    margin: 0px;
    gap: 20px;
    opacity: 0.9;
  }
  #textedelaboutique {
    margin: auto;
    max-width: 85%;
    margin-top: 10px;
  }
  #textedelaboutique h2 {
    font-size: 22px;
  }
  #textedelaboutique .detailsboutique {
    font-size: 11px;
  }
  #textedelaboutique .boutonrdv {
    font-size: 11px;
    padding: 6px 33px 6px 33px;
  }
  #photoshorizontales {
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
  }
  #photoshorizontales img {
    max-width: 80%;
    margin: auto;
    padding: 10px;
  }
}
#textefondateurs, #textefondateurs1, #textefondateurs2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 70px;
  padding-top: 40px;
}
#textefondateurs h2, #textefondateurs1 h2, #textefondateurs2 h2 {
  font-family: "Amiri";
  font-style: italic;
  font-size: 28px;
  margin-bottom: 20px;
}
#textefondateurs p, #textefondateurs1 p, #textefondateurs2 p {
  width: 80%;
  font-family: "Maitree";
  font-size: 12px;
}

#presentationhistorique, #presentationhistorique1, #presentationhistorique2 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
#presentationhistorique .imgfondateurs, #presentationhistorique1 .imgfondateurs, #presentationhistorique2 .imgfondateurs {
  max-width: 30%;
  padding: 10px;
  border: 1px #A57E50 solid;
  margin: 70px;
}
#presentationhistorique .imgfondateurs .textfondateurs, #presentationhistorique1 .imgfondateurs .textfondateurs, #presentationhistorique2 .imgfondateurs .textfondateurs {
  max-width: 45%;
}
#presentationhistorique .imgfondateurs img, #presentationhistorique1 .imgfondateurs img, #presentationhistorique2 .imgfondateurs img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 390px) {
  #presentationhistorique, #presentationhistorique2 {
    flex-direction: column;
    margin: 0px 0px 0px 20px;
  }
  #presentationhistorique .imgfondateurs, #presentationhistorique2 .imgfondateurs {
    margin: auto;
    max-width: 50%;
  }
  #presentationhistorique1 {
    flex-direction: column-reverse;
    margin: 0px 0px 0px 20px;
  }
  #presentationhistorique1 .imgfondateurs {
    margin: auto;
    max-width: 50%;
  }
  #textefondateurs, #textefondateurs1, #textefondateurs2 {
    margin: 20px;
    padding-top: 0px;
  }
  #textefondateurs h2, #textefondateurs1 h2, #textefondateurs2 h2 {
    font-size: 20px;
  }
  #textefondateurs p, #textefondateurs1 p, #textefondateurs2 p {
    font-size: 10px;
  }
}
.contener_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

.description {
  width: 40%;
  margin-top: 50px;
}
.description h1 {
  font-family: "Italianno", cursive;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
}
.description h2 {
  margin: 10px 0px;
  font-weight: normal;
  font-family: "Amiri", serif;
  font-style: italic;
}
.description p {
  font-family: "Maitree", serif;
  font-weight: bold;
}
.description #prix {
  margin-top: 50px;
  color: #A57E50;
  margin-bottom: 50px;
}
.description .conteneurliendetails {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}
.description .conteneurliendetails a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Maitree", serif;
  border-bottom: 2px solid #A57E50;
  border-top: 2px solid #A57E50;
  width: 210px;
  padding: 5px 0px;
}

.grille {
  display: flex;
  flex-direction: column;
}
.grille img {
  width: 320px;
}
.grille .sous_grille {
  display: flex;
  gap: 10px;
}
.grille .sous_grille img {
  width: 100px;
}

@media screen and (max-width: 395px) {
  .description {
    width: 80%;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  .grille {
    margin-left: 25px;
  }
}
main {
  margin-left: 100px;
}

/*le menu en general*/
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform: translateX(-80%);
  background: #8A9187;
  font-family: "italianno";
  font-size: 40px;
}
.navigation.open {
  transform: translateX(0%);
}
.navigation .logo_menu {
  max-width: 300px;
  margin: auto;
  padding: 50px;
}
.navigation .mon_menu {
  list-style: none;
  display: block;
}
.navigation li {
  width: 300px;
}
.navigation li a {
  display: block;
  padding: 20px 20px 20px 10px;
  text-decoration: none;
  color: white;
  text-align: center;
}
.navigation li a:hover {
  background-color: #EFD9BE;
  color: #8A9187;
}

/*le menu en general*/
/*le bouton burger*/
.burger {
  position: fixed;
  left: 15px;
  top: 10px;
  z-index: 20;
  cursor: pointer;
}
.burger .barre {
  width: 30px;
  height: 3px;
  border-radius: 20px;
  background: white;
  margin-top: 6px;
  transition: all 0.6s;
}
.burger .barre2.add {
  background: transparent;
}
.burger .barre1.add {
  transform: translateY(9px) rotateZ(45deg);
}
.burger .barre3.add {
  transform: translateY(-9px) rotateZ(-45deg);
  transition: all 0.6s ease-in-out;
}

/*le btn burger*/
/*la carte*/
.carte iframe {
  width: 100%;
  padding: 20px;
  border: none;
}

/*la carte*/
.menu_reso {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.menu_reso i {
  color: white;
}
.menu_reso .fa-instagram:hover {
  color: black;
}
.menu_reso .fa-twitter:hover {
  color: #1c87c9;
}
.menu_reso .fa-facebook:hover {
  color: #3b5998;
}

@media screen and (max-width: 390px) {
  .carte {
    display: none;
  }
}
footer {
  background-color: hsla(32deg, 35%, 48%, 0.128);
  width: 100%;
  min-height: 200px;
  display: flex;
  padding-left: 100px;
}
footer img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 400px;
  max-height: 250px;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.conteneurlien {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  -moz-column-gap: 250px;
       column-gap: 250px;
  row-gap: 30px;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 1.5rem;
}
.conteneurlien a {
  text-decoration: none;
  color: black;
  font-family: "Maitree", serif;
}

.conteneurpicto {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  align-items: flex-end;
}
.conteneurpicto img {
  width: 40px;
  margin: 15px;
}

.copyright {
  background-color: #EFD9BE;
  width: 220px;
  text-align: center;
  padding: 5px;
  border-radius: 25px 25px 0px 0px;
  padding-top: 10px;
  height: 45px;
}

@media screen and (max-width: 700px) {
  footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 395px) {
  .copyright {
    display: none;
  }
  footer {
    min-height: 200px;
    padding-left: 0px;
    margin-left: 60px;
    padding-bottom: 50px;
  }
  footer img {
    display: none;
  }
  .conteneurlien {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2px;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 25px;
    text-align: center;
    width: 100%;
  }
  .conteneurlien.size {
    font-size: 1.1rem;
  }
  .conteneurlien a {
    color: black;
  }
}
/*le header en general*/
header {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.photo_du_header {
  width: 100%;
  order: 0;
}

.photo_du_header_mobile {
  width: 100%;
  order: 0;
  display: none;
}

/*le header en general*/
@media screen and (max-width: 390px) {
  header {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .photo_du_header {
    width: 100%;
    order: 0;
    display: none;
  }
  .photo_du_header_mobile {
    display: block;
  }
}
.conteneurtitre {
  margin-bottom: 60px;
  border-bottom: 3px solid #A57E50;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
  padding-bottom: 120px;
  font-family: "Italianno", cursive;
}
.conteneurtitre h1 {
  font-size: 75px;
  font-weight: normal;
}

.paragraphe {
  margin-top: 50px;
  font-family: "Maitree", serif;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 100px;
  font-size: 20px;
  width: 77%;
  border-bottom: 3px solid #A57E50;
  padding-bottom: 120px;
}
.paragraphe h1, .paragraphe h2 {
  text-decoration: none;
  font-family: "Maitree", serif;
  margin: 35px 0px;
}

#justepourcettepage {
  margin-bottom: 195px;
}

#arrowup {
  position: absolute;
  right: 2%;
  color: black;
  font-size: 40px;
  background-color: #8A9187;
  border-radius: 50%;
  padding: 15px;
}

@media screen and (max-width: 490px) {
  .conteneurtitre {
    padding-bottom: 20px;
  }
  .conteneurtitre h1 {
    font-size: 50px;
    font-weight: normal;
  }
  .paragraphe {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */