@charset "UTF-8";
@import "./vendor/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,700;1,400&family=Italianno&family=Maitree:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-wrap: wrap;
}

aside {
  width: 25%;
}

main {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* Opacité 12% */
#entetesite {
  display: flex;
  padding: 0px 0px 20px 80px;
  width: 100%;
  max-width: 100%;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}
#entetesite .kingsman {
  width: 70%;
  height: 100%;
  padding: 10px;
  opacity: 0.6;
  margin-right: -20%;
  -o-object-fit: contain;
     object-fit: contain;
}
#entetesite .contenupresentation {
  background-color: #8A9187;
  opacity: 95%;
  width: 100%;
  min-height: 60px;
  max-height: 60%;
  margin: 80px 80px 60px 0px;
}

#presentationboutiqueaccueil {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  width: 70%;
}
#presentationboutiqueaccueil h1 {
  font-size: 60px;
  font-weight: 200;
  text-align: center;
  font-family: "Italianno";
  color: #EFD9BE;
}
#presentationboutiqueaccueil p {
  font-size: 12px;
  color: white;
  font-family: "Maitree";
  text-align: center;
}

@media screen and (max-width: 390px) {
  #entetesite {
    padding: 0px;
  }
  #entetesite .kingsman {
    display: none;
  }
  #entetesite .contenupresentation {
    margin: 0px;
    max-height: 250px;
  }
  #entetesite .contenupresentation h1 {
    font-size: 35px;
    padding: 10px 20px 10px 20px;
  }
  #entetesite .contenupresentation p {
    font-size: 13Px;
    padding: 0px 10px 10px 10px;
  }
}
.divgrille {
  width: 90%;
}

.conteneurphoto {
  display: flex;
  flex-direction: column;
  width: 22%;
  font-size: 14px;
  position: relative;
}
.conteneurphoto #decouvrirprix, .conteneurphoto #decouvrirprix1, .conteneurphoto #decouvrirprix2, .conteneurphoto #decouvrirprix3, .conteneurphoto #decouvrirprix4, .conteneurphoto #decouvrirprix5, .conteneurphoto #decouvrirprix6, .conteneurphoto #decouvrirprix7, .conteneurphoto #decouvrirprix8, .conteneurphoto #decouvrirprix9, .conteneurphoto #decouvrirprix10, .conteneurphoto #decouvrirprix11 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 8px;
  background-color: #A57E50;
  color: white;
}
.conteneurphoto .hover_costume {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Maitree", serif;
  opacity: 0;
  transition: opacity 0.3s;
}
.conteneurphoto .hover_costume a {
  text-decoration: none;
}
.conteneurphoto .hover_costume .nom_de_costume {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.conteneurphoto:hover .hover_costume {
  visibility: visible;
  opacity: 1;
}

#grilleaccueil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin: 30px 20px 20px 90px;
}

@media screen and (max-width: 800px) {
  .conteneurphoto {
    width: 60%;
    font-size: 12px;
    margin: auto;
    padding: 30px 0px;
  }
  .conteneurphoto #decouvrirprix, .conteneurphoto #decouvrirprix1, .conteneurphoto #decouvrirprix2, .conteneurphoto #decouvrirprix3, .conteneurphoto #decouvrirprix4, .conteneurphoto #decouvrirprix5, .conteneurphoto #decouvrirprix6, .conteneurphoto #decouvrirprix7, .conteneurphoto #decouvrirprix8, .conteneurphoto #decouvrirprix9, .conteneurphoto #decouvrirprix10, .conteneurphoto #decouvrirprix11 {
    padding: 8px;
  }
  #grilleaccueil {
    margin: auto;
    gap: 0px;
  }
}
/*.grille {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  }

  .image_big {
    grid-column: 3 / 4;
    grid-row: 3;
  }
  .image_small_1 {
    grid-column: 1 / 3;
    grid-row: 4;
  }

  .image_small_2 {
    grid-column: 1 / 3;
    grid-row: 4;
  }
  .image_small_3 {
    grid-column: 1 / 3;
    grid-row: 4;
  }
  .six {
    grid-column: 1 / 3;
    grid-row: 4;
  }
 */
.grille {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 40px;
  margin-left: 100px;
}
.grille img {
  width: 500px;
}
.grille .sous_grille {
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
}
.grille .sous_grille img {
  width: 160px;
}

.contact {
  max-width: 60%;
  min-width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-family: "Maitree", serif;
}
.contact h1 {
  font-family: "Italianno", cursive;
  font-size: 50px;
  font-weight: lighter;
  margin: 20px;
  text-align: center;
}
.contact form .formContainer {
  padding: 20px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid #A57E50;
  border-bottom: 1px solid #A57E50;
}
.contact form .rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}
.contact form .columns {
  min-width: 40%;
  max-width: 90%;
}
.contact form .textarea {
  width: 90%;
}
.contact form .subFormContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact form .newsletter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.contact form .newsletter label {
  padding-bottom: 10px;
}
.contact form .radio {
  margin-left: 50px;
  width: 5%;
  height: 15px;
}
.contact form input, .contact form textarea {
  width: 100%;
  height: 40px;
  border: 1px #A57E50 solid;
  border-radius: 10px;
  outline: none;
  font-family: "Maitree", serif;
  padding-left: 10px;
}
.contact form textarea {
  resize: none;
  width: 100%;
  height: 150px;
}
.contact form input:focus, .contact form textarea:focus {
  background-color: #EFD9BE;
}
.contact form input:focus::-moz-placeholder, .contact form textarea:focus::-moz-placeholder {
  color: white;
}
.contact form input:focus:-ms-input-placeholder, .contact form textarea:focus:-ms-input-placeholder {
  color: white;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: white;
}
.contact form input:focus, .contact form textarea:focus {
  color: #A57E50;
}
.contact form .send {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 20px;
  font-family: "Maitree", serif;
  width: 250px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 0%;
  border-top: 1px solid #A57E50;
  border-bottom: 1px solid #A57E50;
}
.contact form .send:hover {
  color: white;
  background-color: #EFD9BE;
}
.contact form input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 2px;
  outline: none;
}
.contact form input[type=radio]:hover {
  box-shadow: 0 0 5px 0px #A57E50;
}

@media screen and (max-width: 390px) {
  .rows {
    flex-wrap: wrap;
  }
}
#contenairpresentationboutique {
  width: 100%;
  opacity: 0.9;
  background-image: url("/images/kingsman.jpg");
  background-size: 100%;
  background-clip: content-box;
  position: absolute;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-top: 30%;
}

#photoshorizontales {
  display: flex;
  width: 90%;
  gap: 0px;
  position: relative;
  margin-top: 30px;
  margin-left: 9%;
  margin-bottom: 30px;
  z-index: 1;
  opacity: 1;
}
#photoshorizontales img {
  max-width: 33%;
  opacity: 1;
}

#textedelaboutique {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  background-color: rgba(138, 145, 135, 0.8);
  padding: 2%;
  margin-left: 25%;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}
#textedelaboutique h2 {
  color: #EFD9BE;
  opacity: 1;
  font-family: "Italianno";
  font-size: 30px;
}
#textedelaboutique .detailsboutique {
  font-family: "Maitree";
  font-size: 12px;
  margin-bottom: 20px;
  color: white;
}
#textedelaboutique a {
  font-family: "Maitree";
  font-size: 12px;
  border-top: 1px #EFD9BE solid;
  border-bottom: 1px #EFD9BE solid;
  padding: 7px 35px 7px 35px;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
}
#textedelaboutique a:hover {
  background-color: #EFD9BE;
  color: black;
}

@media screen and (max-width: 390px) {
  #contenairpresentationboutique {
    flex-direction: column-reverse;
    margin: 0px;
    gap: 20px;
    opacity: 0.9;
  }
  #textedelaboutique {
    margin: auto;
    max-width: 85%;
    margin-top: 10px;
  }
  #textedelaboutique h2 {
    font-size: 22px;
  }
  #textedelaboutique .detailsboutique {
    font-size: 11px;
  }
  #textedelaboutique .boutonrdv {
    font-size: 11px;
    padding: 6px 33px 6px 33px;
  }
  #photoshorizontales {
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
  }
  #photoshorizontales img {
    max-width: 80%;
    margin: auto;
    padding: 10px;
  }
}
.contener_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

.description {
  width: 40%;
  margin-top: 50px;
}
.description h1 {
  font-family: "Italianno", cursive;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
}
.description h2 {
  margin: 10px 0px;
  font-weight: normal;
  font-family: "Amiri", serif;
  font-style: italic;
}
.description p {
  font-family: "Maitree", serif;
  font-weight: bold;
}
.description #prix {
  margin-top: 50px;
  color: #A57E50;
  margin-bottom: 50px;
}
.description .conteneurliendetails {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 120px;
  margin-right: auto;
  gap: 30px;
}
.description .conteneurliendetails a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Maitree", serif;
  border-bottom: 1px solid #A57E50;
  border-top: 1px solid #A57E50;
  width: 210px;
  padding: 5px 0px;
}

.grille {
  display: flex;
  flex-direction: column;
}
.grille img {
  width: 320px;
}
.grille .sous_grille {
  display: flex;
  gap: 10px;
}
.grille .sous_grille img {
  width: 100px;
}

@media screen and (max-width: 390px) {
  .description {
    width: 86%;
    text-align: center;
    padding-bottom: 30px;
  }
  .description .conteneurliendetails {
    margin-left: 19%;
    width: 80%;
  }
  .description #prix {
    margin: 20px;
  }
  .grille {
    height: 650px;
    margin: auto;
  }
  .contener_principal {
    gap: 0px;
    margin: auto;
    padding-top: 50px;
  }
}
#textefondateurs, #textefondateurs1, #textefondateurs2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 70px;
  padding-top: 40px;
}
#textefondateurs h2, #textefondateurs1 h2, #textefondateurs2 h2 {
  font-family: "Amiri";
  font-style: italic;
  font-size: 28px;
  margin-bottom: 20px;
}
#textefondateurs p, #textefondateurs1 p, #textefondateurs2 p {
  width: 80%;
  font-family: "Maitree";
  font-size: 12px;
}

#presentationhistorique, #presentationhistorique1, #presentationhistorique2 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
#presentationhistorique .imgfondateurs, #presentationhistorique1 .imgfondateurs, #presentationhistorique2 .imgfondateurs {
  max-width: 30%;
  padding: 10px;
  border: 1px #A57E50 solid;
  margin: 70px;
}
#presentationhistorique .imgfondateurs .textfondateurs, #presentationhistorique1 .imgfondateurs .textfondateurs, #presentationhistorique2 .imgfondateurs .textfondateurs {
  max-width: 45%;
}
#presentationhistorique .imgfondateurs img, #presentationhistorique1 .imgfondateurs img, #presentationhistorique2 .imgfondateurs img {
  -o-object-fit: contain;
     object-fit: contain;
}

#presentationhistorique {
  padding-top: 50%;
}

@media screen and (max-width: 390px) {
  #presentationhistorique, #presentationhistorique2 {
    flex-direction: column;
    margin: 0px 0px 0px 20px;
  }
  #presentationhistorique .imgfondateurs, #presentationhistorique2 .imgfondateurs {
    margin: auto;
    max-width: 50%;
  }
  #presentationhistorique1 {
    flex-direction: column-reverse;
    margin: 0px 0px 0px 20px;
  }
  #presentationhistorique1 .imgfondateurs {
    margin: auto;
    max-width: 50%;
  }
  #textefondateurs, #textefondateurs1, #textefondateurs2 {
    margin: 20px;
    padding-top: 0px;
  }
  #textefondateurs h2, #textefondateurs1 h2, #textefondateurs2 h2 {
    font-size: 20px;
  }
  #textefondateurs p, #textefondateurs1 p, #textefondateurs2 p {
    font-size: 10px;
  }
  #presentationhistorique {
    padding-top: 850px;
  }
}
/*le menu en general*/
.navigation {
  border-right: 2px solid white;
  position: fixed;
  width: 400px;
  height: 100%;
  padding-right: 100px;
  padding-left: 60px;
  transition: transform 0.6s ease-in-out;
  transform: translateX(-80%);
  background: #8A9187;
  font-family: "italianno";
  font-size: 30px;
  z-index: 2;
}
.navigation.open {
  transform: translateX(0%);
}
.navigation .logo_menu {
  max-width: 300px;
  margin: auto;
  padding: 40px 50px 10px 50px;
}
.navigation .mon_menu {
  list-style: none;
  display: block;
}
.navigation li {
  width: 275px;
}
.navigation li a {
  display: block;
  padding: 6px;
  text-decoration: none;
  color: white;
  text-align: center;
}
.navigation li a:hover {
  background-color: #EFD9BE;
  color: #8A9187;
}

/*le menu en general*/
/*le bouton burger*/
.burger {
  position: fixed;
  left: 24px;
  top: 10px;
  z-index: 20;
  cursor: pointer;
}
.burger .barre {
  width: 30px;
  height: 3px;
  border-radius: 20px;
  background: white;
  margin-top: 6px;
  transition: all 0.6s;
}
.burger .barre2.add {
  background: transparent;
}
.burger .barre1.add {
  transform: translateY(9px) rotateZ(45deg);
}
.burger .barre3.add {
  transform: translateY(-9px) rotateZ(-45deg);
  transition: all 0.6s ease-in-out;
}

/*le btn burger*/
/*la carte*/
.carte iframe {
  width: 100%;
  margin: 20px;
  border: 3px #EFD9BE solid;
}

.menu_reso {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 45px;
  gap: 40px;
}
.menu_reso img {
  width: 35px;
  height: 35px;
}
.menu_reso img:hover {
  border: 3px solid rgb(255, 255, 255);
  padding: 3px;
  border-radius: 40px;
}
.menu_reso img:hover {
  color: black;
}
.menu_reso .fa-twitter:hover {
  color: #1c87c9;
}
.menu_reso .fa-facebook:hover {
  color: #3b5998;
}

@media screen and (max-width: 390px) {
  .carte {
    display: none;
  }
  .navigation {
    transform: translateX(-100%);
    padding-right: 0px;
    padding-left: 0px;
    width: 300px;
  }
  .burger .barre {
    background-color: #EFD9BE;
  }
  .burger .barre.white {
    background-color: white;
  }
  .burger .barre2.add {
    background: none;
  }
  .menu_reso {
    padding: 30px 10px 0px 0px;
  }
}
footer {
  background-color: hsla(32deg, 35%, 48%, 0.128);
  width: 100%;
  max-height: 150px;
  display: flex;
  padding-left: 100px;
}
footer img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 400px;
  max-height: 140px;
}

footer nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.divimgfooter {
  margin: auto;
}

.conteneurlien {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  -moz-column-gap: 250px;
       column-gap: 250px;
  row-gap: 10px;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 1em;
  margin-bottom: 10px;
}
.conteneurlien a {
  text-decoration: none;
  color: black;
  font-family: "Maitree", serif;
}

.conteneurpicto {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  align-items: center;
}
.conteneurpicto img {
  width: 40px;
  margin: 20px;
}

.copyright {
  background-color: #EFD9BE;
  width: 240px;
  text-align: center;
  padding: 10px;
  border-radius: 25px 25px 0px 0px;
  padding-top: 10px;
  height: 45px;
}
.copyright h4 {
  font-family: "Maitree";
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 395px) {
  .copyright {
    display: none;
  }
  footer {
    max-height: 150;
    padding-left: 0px;
    padding-bottom: 20px;
  }
  footer img {
    display: none;
  }
  .conteneurlien {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2px;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 10px;
  }
  .conteneurlien.size {
    font-size: 0.8rem;
  }
  .conteneurlien a {
    color: black;
  }
}
/*le header en general*/
header {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.photo_du_header {
  width: 100%;
  order: 0;
}

/*le header en general*/
@media screen and (max-width: 390px) {
  .photo_du_header {
    display: none;
  }
}
.boutonpanier {
  background-color: #8A9187;
  border-radius: 100%;
  padding: 11px 12px 9px 12px;
  margin: 10px;
  border: 2px white solid;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}
.boutonpanier img {
  width: 20px;
}
.boutonpanier .paniervert {
  display: none;
}

.boutonpanier:hover {
  background-color: white;
  border: 2px #8A9187 solid;
  padding: 11px 12px 9px 12px;
  border-radius: 100%;
}
.boutonpanier:hover .panierblanc {
  display: none;
}
.boutonpanier:hover .paniervert {
  display: inline-block;
}

#arrowup {
  position: fixed;
  bottom: 0;
  right: 0;
  right: 2%;
  color: white;
  font-size: 30px;
  background-color: #8A9187;
  border-radius: 50%;
  padding-top: 9px;
  width: 45px;
  height: 45px;
  margin-bottom: 20px;
  text-align: center;
}

#arrowup:hover {
  background-color: white;
  border: 2px #8A9187 solid;
  padding-top: 7px;
}

.fa-arrow-up:hover::before {
  color: #8A9187;
}

.conteneurtitre {
  margin-bottom: 60px;
  border-bottom: 3px solid #A57E50;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
  padding-bottom: 120px;
  font-family: "Italianno", cursive;
}
.conteneurtitre h1 {
  font-size: 75px;
  font-weight: 200;
  line-height: 35px;
}

.paragraphe {
  margin-top: 50px;
  font-family: "Maitree", serif;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 100px;
  font-size: 20px;
  width: 77%;
  border-bottom: 3px solid #A57E50;
  padding-bottom: 120px;
}
.paragraphe h1, .paragraphe h2 {
  text-decoration: none;
  font-family: "Maitree", serif;
  margin: 35px 0px;
}

#justepourcettepage {
  margin-bottom: 195px;
}

@media screen and (max-width: 391px) {
  .conteneurtitre {
    padding-bottom: 20px;
  }
  .conteneurtitre h1 {
    font-size: 50px;
    font-weight: normal;
  }
  .paragraphe {
    font-size: 16px;
  }
  #arrowup, #arrowup2, #arrowup1 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 40px;
    height: 40px;
  }
  #arrowup a:hover, #arrowup2 a:hover, #arrowup1 a:hover {
    background-color: white;
    color: #8A9187;
    border: 2px #8A9187 solid;
  }
}
#panier {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  margin-bottom: 40px;
}
#panier h1 {
  font-family: "Italianno";
  font-size: 60px;
  font-weight: 200;
  line-height: 35px;
  margin-bottom: 40px;
}
#panier .line {
  width: 80%;
  border-bottom: 1px #A57E50 solid;
  margin: auto;
}
#panier .texteprixpanier {
  font-family: "Maitree";
  color: #A57E50;
  font-size: 12px;
}
#panier .total {
  font-family: "Maitree";
  font-size: 14px;
  margin: 40px 130px 40px 0px;
  text-align: right;
}
#panier .bouton {
  font-family: "Maitree";
  font-size: 12px;
  border-top: 1px #A57E50 solid;
  border-bottom: 1px #A57E50 solid;
  padding: 7px 35px 7px 35px;
  color: black;
  text-decoration: none;
  margin-left: 40%;
}
#panier .bouton:hover {
  background-color: #EFD9BE;
}

#containterpanier, #containterpanier2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  padding: 0px 70px 0px 70px;
  margin: auto;
}
#containterpanier img, #containterpanier2 img {
  width: 80px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
}
#containterpanier .textequantite, #containterpanier2 .textequantite {
  font-family: "Maitree";
  font-size: 12px;
}

#containterpanier {
  border-top: 1px #A57E50 solid;
  padding-top: 10px;
}

#containterpanier2 {
  border-bottom: 1px #A57E50 solid;
  padding-bottom: 10px;
}

.titrepanier {
  font-family: "Italianno";
  text-align: center;
}

#sectionpanier {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  gap: 10px;
}

#detailpanier {
  display: flex;
  flex-direction: column;
}
#detailpanier p {
  font-family: "Maitree";
  font-size: 10px;
  color: gray;
  margin-top: -5px;
  font-style: italic;
}
#detailpanier h2 {
  font-family: "Amiri";
  font-style: italic;
  font-size: 18px;
}

@media screen and (max-width: 390px) {
  #panier {
    width: 95%;
  }
  #panier .bouton {
    margin-left: 30%;
  }
  #panier .total {
    text-align: center;
    margin: 30px;
  }
  #panier .line {
    width: 95%;
  }
  #containterpanier, #containterpanier2 {
    width: 95%;
    padding: 5px;
  }
}/*# sourceMappingURL=main.css.map */