// VENDORS

@import "./vendor/normalize.css";

//BASE

@import "./base/base";

// UTILS

@import "./utils/utils";
@import "./utils/fonts";

// LAYOUT

@import "./layout/entete";
@import "./layout/gridaccueil";
@import "./layout/gridproduits";
@import "./layout/presentationboutique";
@import "./layout/presentationequipe";

// COMPONENTS

@import "./composant/menu";
@import "./composant/footer";
@import "./composant/header";

//PAGE 

@import "./page/infopage";
