@charset "UTF-8";
@import "./vendor/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,700;1,400&family=Italianno&family=Maitree:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-wrap: wrap;
}

aside {
  width: 25%;
}

main {
  width: 100%;
}

/* Opacité 12% */
#entetesite {
  display: flex;
  margin: 20px;
  direction: ltr;
  width: 100%;
  max-width: 100%;
  position: relative;
}
#entetesite .kingsman {
  width: 60%;
  height: 100%;
  padding: 20px;
  opacity: 0.6;
  margin-right: -20%;
}
#entetesite .contenupresentation {
  background-color: #8A9187;
  opacity: 95%;
  width: 100%;
  min-height: 60px;
  max-height: 50%;
  margin: 80px 80px 80px 0px;
}

#presentationboutiqueaccueil {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
#presentationboutiqueaccueil h1 {
  font-size: 70px;
  font-weight: 200;
  text-align: center;
  font-family: "Italianno";
  color: #EFD9BE;
}
#presentationboutiqueaccueil p {
  font-size: 16px;
  color: white;
  font-family: "Maitree";
  text-align: center;
}

@media screen and (max-width: 390px) {
  #entetesite {
    margin: 0px;
  }
  #entetesite .kingsman {
    display: none;
  }
  #entetesite .contenupresentation {
    margin: 0px;
  }
  #entetesite .contenupresentation h1 {
    font-size: 40px;
  }
  #entetesite .contenupresentation p {
    padding: 10px;
  }
}
/*le menu en general*/
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform: translateX(-80%);
  background: #8A9187;
}
.navigation.open {
  transform: translateX(0%);
}
.navigation .logo_menu {
  max-width: 200px;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}
.navigation .mon_menu {
  list-style: none;
  display: block;
}
.navigation li {
  width: 300px;
}
.navigation li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
}
.navigation li a:hover {
  background-color: white;
  color: #8A9187;
}

/*le menu en general*/
/*le bouton burger*/
.burger {
  position: fixed;
  left: 15px;
  top: 10px;
  z-index: 20;
  cursor: pointer;
}
.burger .barre {
  width: 30px;
  height: 3px;
  background: #A57E50;
  margin-top: 6px;
  transition: all 0.6s;
}
.burger .barre2.add {
  background: transparent;
}
.burger .barre1.add {
  transform: translateY(9px) rotateZ(45deg);
}
.burger .barre3.add {
  transform: translateY(-9px) rotateZ(-45deg);
  transition: all 0.6s ease-in-out;
}

/*le btn burger*/
@media screen and (max-width: 390px) {
  .navigation {
    transform: translateX(-100%);
  }
}
footer {
  background-color: hsla(32deg, 35%, 48%, 0.128);
  width: 100%;
  padding-left: 60px;
  height: 213px;
  display: flex;
}
footer img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 25%;
}

.conteneurlien {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 250px;
       column-gap: 250px;
  row-gap: 30px;
  margin-top: 50px;
  margin-left: 100px;
  font-size: 1.5rem;
}
.conteneurlien a {
  color: black;
}

.test {
  display: flex;
  justify-content: space-around;
}

.conteneurpicto {
  display: flex;
  padding-left: 400px;
}
.conteneurpicto img {
  width: 40px;
  margin: 15px;
}

.copyright {
  margin-left: 200px;
  background-color: #EFD9BE;
  width: 220px;
  text-align: center;
  padding: 5px;
  border-radius: 25px 25px 0px 0px;
  margin-top: 35px;
  height: 45px;
}

@media screen and (max-width: 390px) {
  .copyright {
    display: none;
  }
  footer {
    height: 270px;
    padding-left: 60px;
  }
  footer img {
    display: none;
  }
  .conteneurlien {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 250px;
         column-gap: 250px;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 25px;
  }
  .conteneurlien a {
    color: black;
  }
}
.conteneurtitre {
  margin-bottom: 20px;
  border-bottom: 3px solid;
  text-align: center;
  margin-top: 30px;
}
/* Opacité 12% *//*# sourceMappingURL=main.css.map */