
.divgrille {
    width: 90%;
}

.conteneurphoto {
    display: flex;
    flex-direction: column;
    width: 22%;
    font-size: 14px;

    position: relative;

        #decouvrirprix, #decouvrirprix1, #decouvrirprix2, #decouvrirprix3, #decouvrirprix4, #decouvrirprix5, #decouvrirprix6, #decouvrirprix7, #decouvrirprix8, #decouvrirprix9, #decouvrirprix10, #decouvrirprix11 {
            display: flex; 
            justify-content: space-between;
            align-content: center;
            padding: 8px;
            background-color: $gold;
            color: white;

        }

.hover_costume{
            font-size:20px;
            color: white;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            visibility: none;
            position: absolute;
            top: 0; left: 0;
            text-align: center;
            padding-top: 50%;
            background-color: rgba(0, 0, 0, 0.7);
            font-family: 'Maitree', serif;
            opacity: 0;
            transition: opacity 0.3s;
            a{
                text-decoration: none;
            }
            .nom_de_costume{
                display: flex;
                justify-content: center;
                margin-top: 20%;
            }
        }
    }

    .conteneurphoto:hover .hover_costume{
        visibility: visible;
        opacity: 1;
    }

#grilleaccueil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin: 30px 20px 20px 90px;
    
}

@media screen and (max-width: 800px) {
    .conteneurphoto {
        width: 60%;
        font-size: 12px;
        margin: auto;
        padding: 30px 0px;
        #decouvrirprix, #decouvrirprix1, #decouvrirprix2, #decouvrirprix3, #decouvrirprix4, #decouvrirprix5, #decouvrirprix6, #decouvrirprix7,  #decouvrirprix8, #decouvrirprix9, #decouvrirprix10, #decouvrirprix11 {
            padding: 8px;
        }
    }

    #grilleaccueil {
        margin: auto;
        gap: 0px;
    }
}