/*le header en general*/

header{ 
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.photo_du_header{
    width: 100%;
    order : 0;
}


/*le header en general*/

@media screen and (max-width: 390px){
    .photo_du_header{
        display: none;    
    }
}