.btnmenu{
    float:right;
}
.navigation{
    width: 250px;
    height: 500px;
    border: 1px solid black;
    padding: 40px;
    transition: transform .6s ease-in-out;
    transform: translateX(-80%);
    &.open{
        transform: translateX(0%);
    }
}


.burger{
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 20;
	cursor: pointer;
    .barre{
        width: 30px;
        height: 3px;
        background: black;
        margin-top: 6px;
        transition: all 0.6s;
    }
}




.burger .barre2.add{
	background: transparent;
}
.burger .barre1.add{
	transform: translateY(9px) rotateZ(45deg);
	transition: all .6s ease-in-out;
}
.burger .barre3.add{
	transform: translateY(-9px) rotateZ(-45deg);
	transition: all .6s ease-in-out;
}
