
/*le menu en general*/

.navigation{
    border-right: 2px solid black;
    position: fixed;
    width: 400px;
    height: 100%;
    padding-right: 60px;
    padding-left: 60px;
    transition: transform .6s ease-in-out;
    transform: translateX(-80%);
    background: #8A9187;
    font-family: "italianno";
    font-size: 40px;
    &.open{
        transform: translateX(0%);
    }
    .logo_menu{
        max-width: 300px; 
        margin: auto;
        padding: 50px;
    }
    .mon_menu{
        list-style: none;
        display: block;
    }
    li{
        width: 300px;
        a{
            display: block;
            padding: 20px 20px 20px 10px;
            text-decoration: none;
            color: white;
            text-align: center;
            &:hover{
                background-color: $copyright;
                color:#8A9187;
            }

        }
        
    }

}

/*le menu en general*/

/*le bouton burger*/

.burger{
	position: fixed;
	left: 24px;
	top: 10px;
	z-index: 20;
	cursor: pointer;
    .barre{
        width: 30px;
        height: 3px;
        border-radius: 20px;
        background: white;
        margin-top: 6px;
        transition: all 0.6s;
    }
    .barre2.add{
        background: transparent;
    }
    .barre1.add{
        transform: translateY(9px) rotateZ(45deg);
    }
    .barre3.add{
        transform: translateY(-9px) rotateZ(-45deg);
        transition: all .6s ease-in-out;
    }   
}

/*le btn burger*/

/*la carte*/
.carte{
    iframe{
        width: 100%;
        padding: 20px;
        border: none;
    }   
}
.menu_reso{
        display: flex;
        width: 100%;
        justify-content: space-around;
        img{
            width: 35px;
            height: 35px;
            &:hover{
                border: 3px solid rgb(255, 255, 255);
                padding: 3px;
                border-radius: 40px;
            }
        }
        
            img{
                &:hover{
                    color: black;
                }
            }
            .fa-twitter{
                &:hover{
                    color: #1c87c9;
                }
            }
            .fa-facebook{
                &:hover{
                    color: #3b5998;
                }
    
            }
    }

@media screen and (max-width: 390px){ 

    .carte{
        display: none;
    }
    .navigation{
    transform: translateX(-100%);
    padding-right: 0px;
    padding-left: 0px;
    width: 300px;
}
.burger{
    .barre{
        background-color: $copyright;
        &.white{
            background-color: white;
            }
    }
    .barre2.add{
        background: none;
    }
} 
}