.conteneurtitre{
    margin-bottom: 60px;
    border-bottom: 3px solid #A57E50;
    margin-right: 10%;
    margin-left: 10%;
        text-align: center;
        margin-top: 50px;
        padding: 30px;
        padding-bottom: 120px;
        font-family: 'Italianno', cursive;
        h1{
            font-size: 75px;
            font-weight: 200;
            line-height: 35px;
        }
    
    }

.paragraphe{
margin-top: 50px;
font-family: 'Maitree', serif;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 100px;
    font-size: 20px;
    width: 77%;
    border-bottom: 3px solid #A57E50;
    padding-bottom: 120px;
    
    h1 , h2 {
        text-decoration: none;
        font-family: 'Maitree', serif;
       margin: 35px 0px;
    //    letter-spacing: 0.3rem;
    }
}

#justepourcettepage{
    margin-bottom: 195px;
}

@media screen and (max-width: 391px) {
    .conteneurtitre{
       padding-bottom: 20px;
            h1{
                font-size: 50px;
                font-weight: normal;
            }
        }
            .paragraphe{
                font-size: 16px;
            }
}
    